* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.content {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)), url(/assets/quiz/scrolls.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.start-content {
    color: white;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    max-width: 1200px;
}

.start-title h3 {
    font-size: 3rem;
    padding: 6px;
}

.start-caption p {
    font-size: 1rem;
    padding: 3px;
}

.start-buttons {
    padding: 2rem;
}

.start-buttons a {
    background-color: rgb(169, 17, 28);
    width: 150px;
    height: 50px;
    margin: 0 0.7rem;
    padding: 0.5rem 2rem;
    color: white;
    text-decoration: none;
    font-size: 1.7rem;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.25s ease-out;
}

.start-buttons a:hover {
    background-color: white;
    color: rgb(169, 17, 28);
}

@media screen and (max-width: 1024px) {
    .start-title h3 {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 768px) {
    .start-title h3 {
        font-size: 2rem;
        padding: 5px;
    }

    .start-caption p {
        font-size: 0.8rem;
    }

    .start-buttons a {
        width: 120px;
        height: 40px;
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 426px) {
    .start-title h3 {
        font-size: 1.8rem;
        padding: 12px;
    }

    .start-caption p {
        padding: 8px;
    }

    .start-buttons a {
        margin: 0 0.3rem;
    }
}

@media screen and (max-width: 376px) {
    .start-title h3 {
        font-size: 1.1rem;
        padding: 5px;
    }

    .start-caption p {
        font-size: 0.6rem;
        padding: 4px;
    }

    .start-buttons {
        padding: 1.1rem;
    }

    .start-buttons a {
        width: 80px;
        height: 30px;
        font-size: 01rem;
    }
}