* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.footer {
    background-color: rgb(48, 48, 48);
}

.footer-grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    justify-self: center;
    padding: 1rem;
    max-width: 1200px;
}

.footer-logo-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
}

.footer-logo {
    width: 300px;
    height: auto;
}

.footer-logo-text {
    font-family: 'Cinzel', sans-serif;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    color: white;
    text-decoration: none;
    padding: 0;
    margin: 0;
}

.section {
    padding: 1rem;
    margin: 1rem;
}

.main-menu-section {
    justify-self: right;
}

.external-section {
    justify-self: center;
}

.main-menu-section h1, .external-section h1 {
    padding: 15px 0;
    font-size: 1.8rem;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.footer-menu {
    list-style: none;
}

.footer-menu li {
    padding: 3px 0;
}

.footer-menu-item {
    font-family: 'Cinzel', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: white;
    cursor: pointer;
    font-size: 1.2rem;
    transition: all 0.25s ease-in-out;
}

.footer-menu-item:hover {
    color: rgb(228, 27, 27);
}

.footer-line {
    margin: 1.1rem auto;
    width: 90%;
    max-width: 1400px;
}

.site-mark {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 25px;
    color: white;
}

@media screen and (max-width: 980px) {
    .footer-logo {
        width: 250px;
        height: auto;
    }

    .main-menu-section h1, .external-section h1 {
        font-size: 1.5rem;
    }

    .footer-menu-item {
        font-size: 1rem;
    }

    .site-mark {
        font-size: 0.9rem;
    }
}

@media screen and (max-width: 800px) {
    .footer-grid-container {
        padding-top: 3.5rem;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-template-rows: 100px 230px;
    }

    .footer-logo-container {
        grid-column-start: span 2;
    }

    .main-menu-section {
        margin-top: 2rem;
        justify-self: center;
    }

    .external-section {
        margin-top: 2rem;
        justify-self: center;
    }

    .main-menu-section h1, .external-section h1 {
        font-size: 1.2rem;
        padding: 10px 0;
    }

    .footer-menu-item {
        font-size: 1rem;
    }
    
}

@media screen and (max-width: 430px) {
    .footer-logo {
        width: 200px;
        height: auto;
    }

    .footer-logo-text {
        font-size: 0.8rem;
    }

    .section {
        padding: 0.5rem 0.4rem;
        margin: 1rem 0.4rem;
    }


    .main-menu-section h1, .external-section h1 {
        font-size: 1rem;
    }

    .footer-menu-item {
        font-size: 0.7rem;
    }

    .site-mark {
        font-size: 0.75rem;
        padding: 10px 15px 30px 15px;
    }
}