* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.content-wrapper {
    margin: 9rem auto 5rem auto;
    max-width: 1600px;
}

.content {
    display: flex;
}

.content-spacer {
    width: 1000px;
}

.my-drive, .disclaimer, .add-info {
    margin: 3rem 10rem;
    background: white;
    filter: drop-shadow(0px 0px 10px rgb(216, 216, 216));
}

.my-drive h1, .disclaimer h1, .add-info h1 {
    font-family: 'Cinzel', sans-serif;
    text-align: center;
    padding: 10px 10px 20px 10px;
}

.my-drive h1 {
    color: rgb(203, 42, 42);
}

.disclaimer h1, .add-info h1 {
    color: rgb(176, 178, 14);
}

.my-drive p, .disclaimer p, .add-info p {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    padding: 22px;
    font-size: 1.1rem;
    line-height: 1.75rem;
}

.logo-preview {
    display: flex;
    justify-content: center;
    margin: 2.5rem 4rem;
}

.logo-preview img {
    width: 350px;
    height: auto;
    padding: 20px;
    margin: 0 0.6rem;
    background-color: rgb(246, 246, 246);
    border-radius: 15px;
}

.borderline {
    margin: 0 6rem;
}

.border {
    border: solid rgb(165, 165, 165);
    padding: 1.7rem;
    border-radius: 30px;
}

.slide-up {
    transform: translateY(20%);
    opacity: 0;
    transition: transform 0.6s ease-in-out, opacity 0.8s ease-in-out;
}

.slide-up.reveal {
    transform: translateY(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .logo-preview {
        flex-direction: column;
        justify-content: center;
    }

    .logo-preview img {
        margin: 1rem auto;
    }

    .my-drive, .disclaimer, .add-info {
        margin: 1.5rem 4rem;
    }

}