* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main-content {
    background-image: url(/assets/realms/cloth.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
    overflow: auto;
}

.map-content {
    width: 1292px;
    height: 992px;
    scale: 0.75;
    position: relative;
}

.map-text {
    position: absolute;
    width: 360px;
    top: 20px;
    left: -150px;
}

.slide-up {
    transform: translateY(20%);
    opacity: 0;
    transition: transform 0.6s ease-in-out, opacity 0.8s ease-in-out;
}

.slide-up.reveal {
    transform: translateY(0%);
    opacity: 1;
}

.map-title h3 {
    font-family: 'Cinzel', sans-serif;
    font-size: 4.3rem;
    font-weight: bold;
    color: rgb(147, 94, 25);
    margin: 20px 0;
}

.map-caption p {
    font-size: 1.9rem;
    text-align: left;
}

.yggdrasil-object {
    position: absolute;
}

.realm {
    position: absolute;
}

.realm:hover {
    scale: 1;
    filter: drop-shadow(0 0 4rem white) drop-shadow(0 0 8rem white);
    z-index: 1;
    cursor: pointer;
}

.realm-banner {
    opacity: 0;
    transition: all 0.45s ease-out;
}

.realm:hover .realm-banner {
    opacity: 1;
}

.realm-banner img {
    position: absolute;
    transform: translate(-50%, -50%);
}

.realm-banner p {
    position: absolute;
    transform: translate(-50%, -50%);
    font-size: 1.3rem;
    font-weight: 600;
    text-decoration: none;
    z-index: 10;
}

a:-webkit-any-link {
    color: black;
    cursor: pointer;
}

#asgard, #alfheim, #jotunheim, #vanaheim, #midgard, #svartalfheim, #muspelheim, #niflheim, #helheim {
    opacity: 0;
}

#asgard.reveal, #alfheim.reveal, #jotunheim.reveal, #vanaheim.reveal, #midgard.reveal, #svartalfheim.reveal, #muspelheim.reveal, #niflheim.reveal, #helheim.reveal {
    opacity: 1;
}

#compass-arrows {
    transform: rotate(-45deg);
}

#compass-arrows.reveal {
    transform: rotate(0deg);
}

/* Asgard */
#asgard {
    top: 60px;
    right: 364px;
    transition: opacity 0.5s ease-out;
}

#asgard-banner img {
    top: 70%;
    left: 50%;
}

#asgard-banner p {
    top: 68%;
    left: 50%;
}

/* Alfheim */
#alfheim {
    top: 148px;
    right: 636px;
    transition: opacity 0.6s ease-out;
}

#alfheim-banner img {
    top: 83%;
    left: 50%;
}

#alfheim-banner p {
    top: 81%;
    left: 50%;
}

/* Jotunheim */
#jotunheim {
    top: 122px;
    right: 46px;
    transition: opacity 0.75s ease-out;
}

#jotunheim-banner img {
    top: 81%;
    left: 50%;
}

#jotunheim-banner p {
    top: 79%;
    left: 50%;
}

/* Vanaheim */
#vanaheim {
    top: 229px;
    right: 263px;
    transition: opacity 0.9s ease-out;
}

#vanaheim-banner img {
    top: 90%;
    left: 50%;
}

#vanaheim-banner p {
    top: 88%;
    left: 50%;
}

/* Midgard */
#midgard {
    top: 380px;
    left: 187px;
    transition: opacity 1.05s ease-out;
}

#midgard-banner img {
    top: 100%;
    left: 47%;
}

#midgard-banner p {
    top: 98%;
    left: 47%;
}

/* Svartalfheim */
#svartalfheim {
    bottom: 220px;
    right: 194px;
    transition: opacity 1.2s ease-out;
}

#svartalfheim-banner img {
    top: 87%;
    left: 53%;
}

#svartalfheim-banner p {
    top: 84.5%;
    left: 53%;
}

/* Muspelheim */
#muspelheim {
    bottom: 167px;
    left: 258px;
    transition: opacity 1.35s ease-out;
}

#muspelheim-banner img {
    top: 75%;
    left: 59%;
}

#muspelheim-banner p {
    top: 72.5%;
    left: 59%;
}

/* Niflheim */
#niflheim {
    bottom: 85px;
    right: 300px;
    transition: opacity 1.5s ease-out;
}

#niflheim-banner img {
    top: 81%;
    left: 55%;
}

#niflheim-banner p {
    top: 78%;
    left: 55%;
}

/* Helheim */
#helheim {
    bottom: 46px;
    left: 40px;
    transition: opacity 1.75s ease-out;
}

#helheim-banner img {
    top: 90%;
    left: 50%;
}

#helheim-banner p {
    top: 88%;
    left: 50%;
}

/* Yggdrasil Objects */
#tree {
    bottom: 251px;
    left: 65px;
}

#ratatoskr {
    bottom: 305px;
    left: 150px;
}

#dragon-logo {
    bottom: 20px;
    left: 622px;
}

#compass-base {
    bottom: 112px;
    right: 32px;
}

#compass-arrows {
    bottom: 147.5px;
    right: 138px;
    transition: transform 1s ease-in-out;
}

@media screen and (max-width: 1350px) {
    .main-content {
        justify-content: start;
        align-items: center;
        overflow: auto;
    }
}

@media screen and (max-width: 768px) {
    .map-content {
        scale: 0.7;
    }
}

@media screen and (max-width: 426px) {
    .main-content {
        display: block;
    }

    .map-content {
        scale: 0.66;
    }
}