* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.characters-content {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(/assets/characters/sindri-house.webp);
    padding: 7rem 0;
    position: relative;
}

.characters-box {
    display: flex;
    overflow-x: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.character {
    width: auto;
    height: auto;
    background: none;
    border: 0;
    min-width: fit-content;
    margin: 0 30px;
    overflow: hidden; 
    filter: brightness(60%);
    transition: all 0.45s ease-in-out;
    cursor: pointer;
}

.character-title h5 {
    font-family: 'Cinzel';
    font-size: 45px;
    margin-bottom: 20px;
    text-align: center;
}

.character-photo img {
    height: 25rem;
    width: auto;
    padding: 0 1rem;
    margin: 0;
}

.character:hover {
    filter: brightness(100%);
}

.character-name h6 {
    font-family: 'Montserrat', serif;
    font-size: 25px;
    color: rgb(246, 246, 246);
    text-align: center;
    padding: 10px;
}

.prev, .next {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    color: rgb(177, 177, 177);
    font-size: 3rem;
    padding: 2.5rem 0.6rem;
    top: 50%;
    transform: translateY(-50%);
    transition: all 0.35s ease-in-out;
    z-index: 1;
}

.next:hover, .prev:hover {
    color: white;
}

.prev {
    left: 2%;
}

.next {
    right: 2%
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 4;
}

.popup-overlay.hidden {
    display: none;
}

.popup {
    position: fixed;
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    left: 50%;
    top: 50%;
    max-width: 1200px;
    max-height: 580px;
    height: 75%;
    width: 75%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.popup-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: auto;
    justify-content: center;
    height: 100%;
}

.popup-close {
    position: fixed;
    top: 8px;
    right: 15px;
    font-size: 3rem;
    background-color: transparent;
    cursor: pointer;
    color: white;
    border: 0;
}

.popup-image {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.popup-image img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
    object-fit: contain;
    padding: 40px;
}

.popup-information {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 8px;
}

.popup::-webkit-scrollbar {
    display: none;
}

.popup-name h4 {
    font-family: 'Cinzel', sans-serif;
    font-size: 1.6rem;
    text-align: center;
    margin: 0.3rem 0.5rem 0.3rem 0.5rem;
}

.popup-description p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.05rem;
    line-height: 1.7rem;
    text-align: justify;
    margin: 0.5rem 2rem;
}

/* Unused CSS Codes */
.popup-line {
    margin: 1.2rem 1.5rem;
}

.popup-birth {
    display: flex;
}

.popup-birthplace-logo img {
    width: 100px;
    height: auto;
}

.popup-birthplace-name p {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    line-height: 1.8rem;
    text-align: justify;
}
/* ================== */

@media screen and (max-width: 950px) {
    .popup-description p {
        font-size: 0.9rem;
        line-height: 1.4rem;
    }
}

@media screen and (max-width: 770px) {
    .characters-content {
        padding: 4rem 0;
    }

    .character-photo img {
        height: 18rem;
        width: auto;
    }

    .popup-name h4 {
        font-size: 1.3rem;
    }

    .popup-description p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 720px) {
    .character-photo img {
        height: 16rem;
        width: auto;
    }

    .popup-name h4 {
        font-size: 1.2rem;
    }

    .popup-description p {
        font-size: 0.75rem;
        line-height: 1.1rem;
    }
}

@media screen and (max-width: 650px) {
    .popup-image img {
        padding: 20px;
    }

    .popup-name h4 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 550px) {
    .popup-image {
        display: none;
    }

    .popup-container {
        display: flex;
    }

    .popup-name h4 {
        font-size: 1.3rem;
    }

    .popup-description p {
        font-size: 0.8rem;
        line-height: 1.3rem;
        margin: 0.5rem 1.2rem;
    }
}

@media screen and (max-width: 426px) {
    .characters-content {
        padding: 2.5rem 0;
    }
    
    .character-photo img {
        height: 14rem;
        width: auto;
    }

    .character-name h6 {
        font-size: 18px;
    }

     .popup-name h4 {
        font-size: 1.2rem;
    }

    .popup-description p {
        font-size: 0.8rem;
        line-height: 1.3rem;
        margin: 0.5rem 1.2rem;
    }
}